.thesisDSG-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: calc(100vh - 64px);
}

.thesisDSG {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 93%;
    width: 96%;
    padding: 20px 40px;
    background-color: #fff;
    overflow-y: scroll;
}

/* 滚动条上的滚动滑块 */
.thesisDSG::-webkit-scrollbar-thumb {
    background-color: #2f2c2c;
    border-radius:  6.5px 6px 6px 6.5px;
    height: 30px;
}

/* 滚动条上的箭头按钮 */
.thesisDSG::-webkit-scrollbar {
    width: 13px;
}

.thesisDSG>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    font-size: 16px;
}

.thesisDSG-abstract-title,
.thesisDSG-keyWord-title,
.thesisDSG-publication-title,
.thesisDSG-date-title {
    font-size: 26px;
    font-weight: 700;
}

.thesisDSG>.thesisDSG-title {
    justify-content: center;
    width: 75%;
    margin: 0 0 15px 0;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
}

.thesisDSG>.thesisDSG-author {
    justify-content: center;
    margin: 0 0 15px 0;
}

.thesisDSG>.thesisDSG-original {
    justify-content: end;
    margin: 0 0 15px 0;
}

.thesisDSG>.thesisDSG-original>a{
    color: #ED5A65;
    border-bottom: 1px solid #ED5A65;
}

.thesisDSG-abstract,
.thesisDSG-keyWord,
.thesisDSG-publication,
.thesisDSG-date {
    margin: 0 0 15px 0;
}