.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #F5F5F5;
}

.home {
    width: 80%;
    height: 96%;
    padding: 30px 30px ;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    overflow: auto;
}

/* 滚动条上的滚动滑块 */
.home::-webkit-scrollbar-thumb {
    background-color: #2f2c2c;
    border-radius:  6.5px 6px 6px 6.5px;
    height: 30px;
}

/* 滚动条上的箭头按钮 */
.home::-webkit-scrollbar {
    width: 13px;
}

.home-title {
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.home-title img {
    width: 30vw;
}

.home-content p {
    margin: 0 0 30px 0;
}