/* 导航栏样式 */

.head {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Inter';
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    z-index: 10;
}

.head-header {
    display: flex;
    justify-content: start;
    padding: 0;
    background-color: #fff;
}

.head-logo {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.head-logo:hover {
    cursor: pointer;
}

.head-logo>img {
    width: 65px;
    height: 50px;
}

.head-menu {
    width: 100%;
    font-size: 18px;
}

.head-menu>.ant-menu-item .anticon {
    margin: 0 7px 0 0;
}

.head-menu .anticon>svg {
    width: 18px;
    height: 18px;
}

.head-menu>.ant-menu-item-selected a {
    color:#ED5A65;
}

.head-menu>.ant-menu-item::after,
.head-menu>.ant-menu-submenu::after {
    position: absolute;
    right: 20px;
    bottom: 62px;
    left: 20px;
    border-top: 2px solid transparent;
    transition: border-color .3s cubic-bezier(.645,.045,.355,1);
    content: "";
 }

.head-menu:not(.ant-menu-dark)>.ant-menu-item-active:after,
.head-menu:not(.ant-menu-dark)>.ant-menu-item-open:after,
.head-menu:not(.ant-menu-dark)>.ant-menu-item-selected:after,
.head-menu:not(.ant-menu-dark)>.ant-menu-item:hover:after {
    border-bottom: 4px solid #ED5A65;
}

.head-menu:not(.ant-menu-dark)>.ant-menu-item-active>span>a,
.head-menu:not(.ant-menu-dark)>.ant-menu-item-open>span>a,
.head-menu:not(.ant-menu-dark)>.ant-menu-item-selected>span>a,
.head-menu:not(.ant-menu-dark)>.ant-menu-item:hover>span>a {
    color: #ED5A65;
}