.cav-sider {
    height: calc(100vh - 64px);
    width: 200px;
    min-width: 200px;
    border-right: 1px solid rgba(184, 184, 184, .2);
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px rgba(184, 184, 184, .5);
    z-index: 1;
}

.cav-sider-head {
    padding: 5px 0;
    border-bottom: 1px solid rgba(184, 184, 184, .5);
    text-align: center;
    font-weight: 700;
}

.cav-sider-body>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 13px;
    margin: 0 0 10px 0;
}

.cav-sider-speed-input {
    text-align: end;
    width: 60%;
}

.cav-sider-body input {
    height: 22px;
}

.cav-sider-body .ant-input-number {
    width: 75px;
}

.cav-sider-body button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 75px;
}

.cav-sider-button {
    width: 100%;
    margin: 10px 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
