.thesisRSRSP-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: calc(100vh - 64px);
}

.thesisRSRSP {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 93%;
    width: 96%;
    padding: 20px 40px;
    background-color: #fff;
    overflow-y: scroll;
}

.thesisRSRSP>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    font-size: 16px;
}


.thesisRSRSP-abstract-title,
.thesisRSRSP-keyWord-title,
.thesisRSRSP-publication-title,
.thesisRSRSP-date-title {
    font-size: 26px;
    font-weight: 700;
}

.thesisRSRSP>.thesisRSRSP-title {
    justify-content: center;
    width: 66%;
    margin: 0 0 15px 0;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.thesisRSRSP>.thesisRSRSP-author {
    justify-content: center;
    text-align: center;
    margin: 0 0 15px 0;
}

.thesisRSRSP>.thesisRSRSP-original {
    justify-content: end;
    margin: 0 0 15px 0;
}

.thesisRSRSP>.thesisRSRSP-original>a{
    color: #ED5A65;
    border-bottom: 1px solid #ED5A65;
}


.thesisRSRSP-abstract,
.thesisRSRSP-keyWord,
.thesisRSRSP-publication,
.thesisRSRSP-date {
    margin: 0 0 15px 0;
}